node_modules/
client/node_modules/
server/node_modules/
admin/node_modules/

node_modules
client/node_modules
server/node_modules
admin/node_modules

.env
client/.env
server/.env
admin/.env
server/config/.env
server/config/dev.env
server/config/pro.env